*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
test/dummy/data
test/dummy/db/*.sqlite3
test/dummy/log/*
test/dummy/node_modules
test/dummy/public/assets
test/dummy/public/system
test/dummy/db/schema.rb
tmp
test/dummy/app/assets/javascripts/*.js
test/dummy/app/assets/javascripts/**/*.js
test/dummy/app/assets/javascripts/**/*.js.coffee
test/dummy/app/assets/javascripts/**/*.map
/.ruby-*
vendor/*
